# Use the file format compatible with Docker Compose 3.8
version: "3.8"

services:

  database:
    image: neo4j:3.5.14
    env_file: .env
    restart: always
    ports:
      - "7474:7474"
      - "7687:7687"
    volumes:
      - /var/lib/neo4j/data:/data
      - /var/lib/neo4j/plugins:/plugins
      #- ./db/neo4j/development/data:/data
    environment:
      - NEO4J_dbms_security_procedures_unrestricted=apoc.\*
#      - NEO4J_dbms_memory_pagecache_size=64m
#      - NEO4J_dbms_memory_heap_max__size=64m
    logging:
      driver: "local"
      options:
        max-size: "10m"
        max-file: "3"
  web:
    image: matthewthe/livelca:latest
    env_file: .env
    restart: always

    # The command to be run when we run "docker-compose up".
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"

    security_opt:
      - seccomp=unconfined
    
    # Expose port 3000.
    ports:
      - "3000:3000"

    # Specify that this container depends on the other
    # container which we've called "database".
    depends_on:
      - database
    
    environment:
      RAILS_ENV: production
    logging:
      driver: "local"
      options:
        max-size: "10m"
        max-file: "3"  
  recipe-scraper:
    image: matthewthe/recipe-scrapers-rest-api:latest
    restart: always
    ports:
      - "5000:5000"
    logging:
      driver: "local"
      options:
        max-size: "10m"
        max-file: "3"  
  mariadb-matomo:
    image: mariadb:10.6.4
    command: --max-allowed-packet=64MB
    restart: always
    env_file: .env
    volumes:
      - /var/lib/mysql:/var/lib/mysql
      - ${PWD}/matomo_config/mariadb_custom.cnf:/etc/mysql/conf.d/mariadb_custom.cnf
#    ports:
#      - "3306:3306"
    logging:
      driver: "local"
      options:
        max-size: "10m"
        max-file: "3"  
  matomo:
    image: matomo:5.5.0
    restart: always
    environment:
      - MATOMO_DATABASE_HOST=mariadb-matomo
      - PHP_MEMORY_LIMIT=16M
    volumes:
      - /var/www/html:/var/www/html
      - ${PWD}/matomo_config/mpm_prefork.conf:/etc/apache2/mods-enabled/mpm_prefork.conf
    ports:
      - 8080:80
    logging:
      driver: "local"
      options:
        max-size: "10m"
        max-file: "3"
