<% content_for(:html_title) { 'Blog' } %>

<h1>Sustainable living - putting the numbers into context</h1>
  
<p>
  It is important to realize that the CO2e values on this website represent only one angle in the complex question of sustainability. In our blog, we aim to put the raw numbers we collect on LiveLCA in a bigger context.
</p>

<p>
  We dive deeper into specific topics related to sustainability such as personal CO2 emission goals and the, sometimes surprising, relations between emissions and nutrition.
</p>

<p>
  If you have any suggestions for topics you would like to see explored, don't hesitate to <a href="/pages/about">contact us</a>!
</p>
