<input type="checkbox" id="table-toggle">
<label for="table-toggle" class="no-print">
  <span class="toggle-words show">Show Blogs &#9660;</span>
  <span class="toggle-words hide">Hide Blogs &#9650;</span>
</label>
<div class="table_pane no-print">
  <h1>Blogs</h1>

  <% if user_signed_in? && current_user.admin? %>
    <%= link_to 'New Blog', new_blog_path, class: "green button" %>
    <div class="space_16"></div>
  <% end %>

  <table id="blogs_table" class="stripe">
    <thead>
      <tr>
        <th>Title</th>
        <th>Published at</th>
      </tr>
    </thead>
  </table>
</div>

<div id="current_blog" class="content_pane max_width_800">
  <% if @blog %>
  <%= render 'show' %>
  <% else %>
  <%= render 'greeter' %>
  <% end %>
</div>

<div style="clear:both;"></div> 
