<h1>Blogs</h1>

<table id="blogs_table" class="stripe">
  <thead>
    <tr>
      <th>Title</th>
      <th>Published at</th>
    </tr>
  </thead>
</table>

<br>

<%= link_to 'New Blog', new_blog_path, class: "green button" %>
