<% content_for(:html_title) { 'Recipes' } %>

<h1>Your favourite dish: Climate Sinner or Winner?</h1>
  
<p>
Find some of the most common dinner dishes and their ingredients list. Based on the ingredients list we have calculated the CO2-emissions for you to check if your favourite dish is a climate sinner or a climate winner.
</p>

<p>
Soon it will also be possible to find the instruction for the recipes and be inspired not only to try out new interesting recipes, but also find alternatives to high-emitting dishes. 
<p>
