<h1>Your favourite dish: Climate Winner or Sinner?</h1>

<p class="max_width_800">
Calculate the CO2e emissions for your favourite dish. Based on the ingredients list we calculate the CO2-emissions so you can check if your favourite dish is a climate winner or a climate sinner.
</p>
