<% content_for(:html_title) { 'Recipes' } %>

<h1>Your favourite dish: Climate Sinner or Winner?</h1>

<p>
Calculate the CO2e emissions for your favourite dish or find some of the most common dinner dishes. Based on the ingredients list we calculate the CO2-emissions for you to check if your favourite dish is a climate sinner or a climate winner.
</p>
