<% content_for(:html_title) { 'Calculate CO2e for my recipe' } %>

<%= render partial: 'greeter' %>

<p class="max_width_800">
On the left are some common dishes for comparison and to provide some inspiration for low emission alternatives.
</p>

<%= render 'form' %>
