<div class="table_pane">
  <h1>Recipes</h1>
  
  <%= link_to 'Calculate CO2e for my recipe', new_recipe_path, class: "green button" %>
  <div class="space_16"></div>

  <table id="recipes_table" class="stripe">
    <thead>
      <tr>
        <th>Name</th>
        <th>CO2e (kg) per serving</th>
      </tr>
    </thead>
  </table>
</div>

<div id="current_recipe" class="content_pane max_width_1024">
  <% if @recipe and @recipe.name %>
  <%= render 'show' %>
  <% elsif @recipe %>
  <%= render 'new' %>
  <% else %>
  <%= render 'greeter' %>
  <% end %>
</div>

<div style="clear:both;"></div> 
