<div class="table_pane">
  <h1>Recipes</h1>
  
  <% if user_signed_in? && current_user.admin? %>
  <%= link_to 'Add Recipe', new_recipe_path, class: "green button" %>
  <div class="space_16"></div>
  <% end %>

  <table id="recipes_table" class="stripe">
    <thead>
      <tr>
        <th>Name</th>
        <th>CO2e (kg) per serving</th>
      </tr>
    </thead>
  </table>
</div>

<div id="current_recipe" class="content_pane">
  <% if @recipe %>
  <%= render 'show' %>
  <% else %>
  <h1>Welcome to LiveLCA</h1>
  <% end %>
</div>

<div style="clear:both;"></div> 
