<div class="content_pane max_width_800">

<% content_for(:html_title) { 'About' } %>

<h1>About</h1>

<p>
  LiveLCA is a platform to get a view into your daily CO2 spendings. We provide data on food in various food groups and have an ever-growing database.
</p>

<p>
  You can use LiveLCA to calculate the CO2 emissions from recipes, settle disputes with your friends or simply as a reference work.
</p>

<p>
  By making LiveLCA publicly available, we hope that people will be able to make more conscious choices when buying products and potentially decrease their personal emissions.
</p>

<h2>History</h2>

<p>
  LiveLCA was started in 2019 by us, Matthew and Ditte, based on our common interest in cooking and sustainable living.
</p>

<p>
  Over the years we reduced meat in our diet to live a more sustainable life. However, we were missing specific scientific data to back up our choices and also data for optimizing our sustainable lifestyle even more.
</p>

<p>
  To analyze our own consumption, we collect various sources and calculated our own emissions.
</p>

<p>
  We believe that everybody should be able to have access to the information and decided to make our efforts publicly available.
</p>

<h2>The Team</h2>


<div class="float">
    <div class="profile-picture centered">
      <%= image_tag "ditte.jpg", :alt => "Ditte" %>
    </div>
</div>

<div class="float hspace_16">&nbsp;</div>

<div class="float">
<p>
Ditte Juhl<br/>
Sustainability analyst - ClimatePartner GmbH<br/>
MSc in Sustainable Technology
</p>
</div>

<div class="clear space_16"></div>

<div class="float">
    <div class="profile-picture centered">
      <%= image_tag "matthew.jpg", :alt => "Matthew" %>
    </div>
</div>

<div class="float hspace_16">&nbsp;</div>

<div class="float">
<p>
    Matthew The<br/>
    Bioinformatics group leader - Technical University of Munich<br/>
    PhD in Biotechnology
</p>
</div>

<div class="clear"></div>

<p>
  <strong>Please contact us at </strong>ditte <i>[at]</i> livelca.com <strong>if you want to join the team!</strong>
</p>

</div>
