<%= link_to '> Back to resource', @resource, class: "green button" %>

<h1>Editing Resource</h1>

<%= render 'form' %>

<%= link_to 'Delete', @resource, method: :delete, data: { confirm: 'Are you sure?' }, class: "green button" %>
