<div class="table_pane">
  <h1>Resources</h1>

  <% if user_signed_in? && current_user.admin? %>
    <%= link_to 'New Resource', new_resource_path, class: "green button" %>
    <div class="space_16"></div>
  <% end %>

  <table id="resources_table" class="stripe">
    <thead>
      <tr>
        <th>Name</th>
        <th>Default weight</th>
      </tr>
    </thead>
  </table>
</div>

<div id="current_resource" class="content_pane">
  <% if @resource %>
  <%= render 'show' %>
  <% else %>
  <h1>Welcome to LiveLCA</h1>
  <% end %>
</div>

<div style="clear:both;"></div> 
