<p id="notice"><%= notice %></p>

<h1>Resources</h1>

<%= link_to 'New Resource', new_resource_path, class: "green button" %>

<div class="space_16"></div>

<table id="resources_table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Default weight</th>
    </tr>
  </thead>

  <tbody>
    <% @resources.each do |resource| %>
      <tr>
        <td><%= link_to resource.name, resource %></td>
        <td><%= resource.default_weight %></td>
      </tr>
    <% end %>
  </tbody>
</table>
