<input type="checkbox" id="table-toggle">
<label for="table-toggle">
  <span class="toggle-words show">Show Resources &#9660;</span>
  <span class="toggle-words hide">Hide Resources &#9650;</span>
</label>
<div class="table_pane no-print">
  <h1>Resources</h1>

  <% if user_signed_in? && current_user.admin? %>
    <div class="table_button"><%= link_to 'New Resource', new_resource_path, class: "green button" %></div>
  <% end %>

  <table id="resources_table" class="stripe">
    <thead>
      <tr>
        <th>Name</th>
        <th>Default weight</th>
      </tr>
    </thead>
  </table>
</div>

<div id="current_resource" class="content_pane max_width_800">
  <% if @resource %>
  <%= render 'show' %>
  <% else %>
  <%= render 'greeter' %>
  <% end %>
</div>

<div style="clear:both;"></div> 
