<h1>
  <%= @country.name %>
</h1>

<p>
  <%= @wiki.html_safe %>
</p>

<% if user_signed_in? && current_user.admin? %>
<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
<% end %>
