/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

div#container{
  margin: 0 auto;
}
div#background{
  height:400px;
  width:100%;
  position:absolute;
  /*
  background-image: image_url("farms.jpg");
  background-size: cover;
  -webkit-mask-image: linear-gradient(to top, transparent 10%, black);
  mask-image: linear-gradient(to top, transparent 10%, black);  */
  background-color: #4CAF50;
  z-index:-1;
}
div#header{
  width:calc(97% - 60px);
  padding-left:4%;
  padding-bottom:15px;
  height:60px;
  font-size: 1.5em;
}

div#content{
  text-align: left; 
  color: #444;
  margin-bottom: 10px;
  margin-left:0;
  padding:10px;
  background-color:#f6f6f6;
  /*background-color: rgba(203,240,194,0.6);*/
}
div#navbar{
  width: 100%;
  top:0px;
  margin-bottom: 5px;
}

#nav-toggle {
  // Hides the checkbox
  position: absolute;
  opacity: 0;
  display: none;
}

#nav-toggle ~ label {
  display: none;
}

#table-toggle {
  // Hides the checkbox
  position: absolute;
  opacity: 0;
  display: none;
}

#table-toggle ~ label {
  display: none;
}

h1 { line-height: 1em; font-size: 28px; }
h2 { font-size: 1.5em; }

html {min-height:100%; margin-bottom:1px;}

body {
  margin:0px; 
  font-size:14px;
  color:#BBB;
  background-color: #b6d6ae;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23a2a395' fill-opacity='0.13'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  /*background-image:url('<%= asset_path("background_compressed.jpg") %>');*/
  /*background-attachment:fixed; */
  /*background-color:#F0F2DD; */
  /*background-repeat:no-repeat; */
  /*background-position:center top; */
}

body, p, ol, ul, td, textarea {
  font-family: 'DM Sans', sans-serif;
}

table {
  border-collapse: separate; 
  border-spacing:0 5px;
}

/* BEGIN overwrite datatables defaults */

table.dataTable {
  padding-top: 10px; 
}
table.dataTable th:first-child{
  border-radius:10px 0 0 10px;
}

table.dataTable th:last-child{
  border-radius:0 10px 10px 0;
}

table.dataTable th {
  background-color: #999;
  border: 0px;
  border-bottom: 1px solid #111;
  color: #fff;
}

table.dataTable td {
  background-color: #fff;
  border-width: 3px 0;
  border-style: solid;
  border-color: #f6f6f6;
}

table.dataTable td:first-child{
  border-radius:10px 0 0 10px;
}

table.dataTable td:last-child{
  border-radius:0 10px 10px 0;
}

table.dataTable td, table.dataTable ul {
  font-size: 14px;
}

table.dataTable tbody:before {
  content:"@";
  display:block;
  line-height:10px;
  text-indent:-99999px;
}

table.dataTable thead .sorting .DataTables_sort_icon {
  background-position: 0;
  margin-right: 4px;
}

table.dataTable thead .sorting .DataTables_sort_icon.ui-icon-caret-2-n-s {
  background-image: image_url("sort_both.png");
}

table.dataTable thead .sorting .DataTables_sort_icon.ui-icon-triangle-1-s {
  background-image: image_url("sort_asc.png");
}

table.dataTable thead .sorting .DataTables_sort_icon.ui-icon-triangle-1-n {
  background-image: image_url("sort_desc.png");
}

.dataTables_wrapper .ui-widget-header {
  background: transparent;
  border: 0px;
}

.dataTables_wrapper .ui-toolbar {
  padding: 0px;
}

.dataTables_wrapper .dataTables_length select {
  background-color: #fff;
  border-radius: 0px;
  padding: 1px;
}

.dataTables_wrapper .dataTables_filter input {
  background-color: #fff;
  border-radius: 2px;
  border-color: rgb(118, 118, 118);
  padding: 2px 2px;
  margin-left: 0.5em;
}

/* END overwrite datatables defaults */

label {
  display:inline-block;
  font-weight: bold;
}

#header {
  text-align:left;
}

#logo {
  float: left;
  font-family: 'Montserrat', sans-serif;
  display: block;
  padding-top:15px;
}
#logo a {
  color:#FFF; 
  text-shadow: 2px 2px 4px #000000;
  text-decoration: none;
  width: 250px;
  font-size: 2em; 
  font-weight: bold;
  line-height: 1em;
}
#logo a:hover {
  background-color: transparent;
}

#footer a:hover {
  color:#333;
  background-color: transparent;
}

#navbar {
  padding-top: 20px;
  float: right;
  display: block;
}
#navbar a, #navbar a:visited {
  float: left;
  display: block;
  color:#fefefe;
  text-shadow: 1px 1px 2px #000000;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
}
#navbar .current a, #navbar .current a:visited, #navbar a:hover {
  color:#fff;
  background-color: #45A32E;
}

#navbar .search_box {
  float: right;
  display: block;
  padding: 6px;
  margin: 2px;
  background-color: #45A32E;
  border-radius: 5px;
}
#navbar .search_box .tb {
  display: table;
  width: 100%;
}
#navbar .search_box .td {
  display: table-cell;
  vertical-align: middle;
}
#navbar .search_box input {
  color: #fff;
  outline: none;
  border: 0;
  padding-left: 5px;
  width: 120px;
  background-color: transparent;
}
#navbar .search_box input[type="text"]::placeholder {
  color: #ddd;
}

#footer {
  text-align: center;
  padding-bottom: 5px;
  color: #333;
}

#s-cover button {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}
#s-cover button {
  position: relative;
  display: block;
  top: -2px;
  width: 21px;
  height: 24px;
  cursor: pointer;
  border-width: 0px;
}
#s-cover #s-circle {
  position: relative;
  left: 0;
  width: 10px;
  height: 10px;
  margin-top: 0;
  border-width: 4px;
  border: 4px solid #fff;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.5s ease all;
}
#s-cover button span {
  position: absolute;
  top: 19px;
  left: 10px;
  display: block;
  width: 11px;
  height: 4px;
  background-color: transparent;
  border-radius: 3px;
  transform: rotateZ(52deg);
  transition: 0.5s ease all;
}
#s-cover button span:before, #s-cover button span:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 11px;
  height: 4px;
  background-color: #fff;
  border-radius: 3px;
  transform: rotateZ(0);
  transition: 0.5s ease all;
}
#s-cover:hover #s-circle {
  width: 17px;
  height: 4px;
  border-width: 0;
  background-color: #fff;
  border-radius: 5px;
}
#s-cover:hover span {
  top: 50%;
  left: 10px;
  width: 4px;
  margin-top: -2px;
  transform: rotateZ(0);
}
#s-cover:hover button span:before {
  bottom: 3px;
  transform: rotateZ(52deg);
}
#s-cover:hover button span:after {
  bottom: -3px;
  transform: rotateZ(-52deg);
}
#s-cover:hover button span:before, #s-cover:hover button span:after {
  right: -8px;
  width: 10px;
  background-color: #fff;
}

#content a, #content a:visited {
  color:#666;
}
#content a:hover {
  color:#333;
  background-color: inherit;
}

input, select, textarea {
  padding: 5px;
  border-radius: 5px;
  border: solid 1px #666;
  background-color: #fff;
  max-width: 98%;
}

select {
  padding: 4px;
}

input[type=submit] {
  color:#333;
  cursor:pointer;
}

#content a.proxy {
  color: #F39C12;
}
#content a.unreliable {
  color: #F06533;
}

#alert, #notice {
  margin: 0;
  padding: 5px 10px;
  width: 100%;
  color: white;
  border-radius: 5px;
}
#alert {
  background-color: red;
}
#notice {
  background-color: green;
}

.table_pane {
  display: block;
  float: left;
  margin-right:35px;
}

.table_button {
  margin-bottom: 16px;
}

.content_pane {
  display: block;
  overflow: hidden;
  min-width: 430px;
  padding: 0px 0px 10px 0px;
}

.content_pane p, 
.content_pane ol, 
.content_pane ul, 
.content_pane td,
.content_pane .toastui-editor-contents p {
  font-size: 16px;
  line-height: 130%;
}

.toastui-editor-contents .footnotes p {
  font-size:14px; 
  color: #666;
}

.button::-moz-focus-inner{
  border: 0;
  padding: 0;
}

.button{
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 6px 20px;
  margin: 0;
  cursor: pointer;
  border: 1px solid #bbb;
  overflow: visible;
  font: bold 13px arial, helvetica, sans-serif;
  text-decoration: none;
  white-space: nowrap;
  color: #555;
  
  background-color: #ddd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(255,255,255,0)));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  background-image: -o-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  background-image: linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  
  -webkit-transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -ms-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  background-clip: padding-box; /* Fix bleeding */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
  text-shadow: 0 1px 0 rgba(255,255,255, .9);
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#content .button:hover{
  background-color: #eee;
  color: #555;
}

#content .button:active{
  background: #e9e9e9;
  position: relative;
  top: 1px;
  text-shadow: none;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
}

#content .button.green, #content .button.red, #content .button.blue {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,.2);
  
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.3)), to(rgba(255,255,255,0)));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
  background-image: -o-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
  background-image: linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
}

/* */

#content .button.green{
  background-color: #27AD05;
  border-color: #27AD05;
}

#content .button.green:hover{
  background-color: #62c462;
}

#content .button.green:active{
  background: #57a957;
}

/* */

#content .button.red{
  background-color: #ca3535;
  border-color: #c43c35;
}

#content .button.red:hover{
  background-color: #ee5f5b;
}

#content .button.red:active{
  background: #c43c35;
}

/* */

#content .button.blue{
  background-color: #269CE9;
  border-color: #269CE9;
}

#content .button.blue:hover{
  background-color: #70B9E8;
}

#content .button.blue:active{
  background: #269CE9;
}


.profile-picture {
    position:relative;
    overflow:hidden;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.profile-picture img {
    position:absolute;
    height: auto;
    width: auto;    
    max-width:100%;
}

.centered img {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}

.hidden   {display:none;}
.center    {text-align:center;}
.clear    {clear:both;}
.space_4   {height:4px;}
.space_8   {height:8px;}
.space_16  {height:16px;}
.hspace_4   {width:4px;}
.hspace_8   {width:8px;}
.hspace_16  {width:16px;}
.relative {position:relative;}
.float    {display:block; float:left;}
.float_right    {display:block; float:right;}
.max_width_800 {max-width: 800px;}
.max_width_1024 {max-width: 1024px;}

@mixin print-styles {
  .no-print, .no-print * {
    display: none !important;
  }
  .dataTables_wrapper {
    position: static;
  }
  table.dataTable thead th div.DataTables_sort_wrapper {
    position: static;
  }
  table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control {
    position: static;
  }
  table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control:before {
    display: none;
  }
  .dataTables_filter {
    display: none;
  }
  h1 { 
    margin-top: 78px;
  }
  input, select {
    border:0;
    outline:0;
    background-color:inherit;
  }
  div#header {
    position: fixed;
    background-color: #4CAF50;
    width: 100%;
  }
}

@media print {
  @include print-styles;
  @page { size: A4 landscape; margin: 5mm; }
  body {
    -webkit-print-color-adjust: exact !important;
  }
  h1, h2 { 
    margin-top: 100px;
    page-break-before: always;
  }
  div#header {
    width: 297mm;
  }
}

.print {
  @include print-styles;
}

@media (max-width: 410px) {
  h1 {
    margin: 5px;
  }
  div#header{
    width:calc(97% - 15px);
    padding-bottom: 0px;
  }
  
  textarea {
    width: calc(100% - 12px);
  }
  #nav-toggle ~ label {
    display: block;
    background-color: #45A32E;
    color: #FFF;
    padding: 12px 0;
    margin-top: 10px;
    border-radius: 3px;
    width: 45px;
    float: right;
    text-align: center;
  }
  #nav-toggle:checked ~ #navbar {
    display: block;
  }
  #nav-toggle ~ #navbar, #nav-toggle ~ label {
    transition: .5s transform;
    transition-timing-function: cubic-bezier(.38,.52,.37,1.27);
  }
  #nav-toggle:checked ~ #navbar {
    transform: translateX(-250px);
  }
  
  #nav-toggle ~ label .show {
    display: block;
  }
  #nav-toggle ~ label .hide {
    display: none;
  }
  
  #nav-toggle:checked ~ label {
    background-color: #ca3535;
    padding: 0px;
    width: 35px;
    padding-top:10px;
    height: 25px;
    right: 10px;
    z-index: 2;
    position: fixed;
  }
  #nav-toggle:checked ~ label .show {
    display: none;
  }
  #nav-toggle:checked ~ label .hide {
    display: block;
    font-size: 35px;
  }
  
  #navbar {
    position: fixed; // Absolute positioning would work as well
    right: -100%;
    top: 0;
    background-color: #666;
    z-index: 1;
    padding-top: 10px;
    height: 100%;
    width: 250px;
  }
  #navbar a, #navbar a:visited {
    width: 250px;
  }
  #navbar .search_box {
    margin-top: 10px;
    margin-left: 5px;
    float: left;
    width: 225px;
  }
  #logo {
    padding-top: 12px;
  }
  #logo a {
    font-size: calc(40vw / 4.1);
  }
  .content_pane {
    min-width: 240px;
  }
  
  #table-toggle ~ label {
    display: block;
    background-color: #FFFFFF;
    color: #45A32E;
    padding: 8px 0;
    margin: 10px auto;
    border-radius: 3px;
    border: 3px solid #45A32E;
    width: 60%;
    text-align: center;
    font-size: 16px;
  }
  #table-toggle ~ label .show {
    display: block;
  }
  #table-toggle ~ label .hide {
    display: none;
  }
  
  #table-toggle:checked ~ label .show {
    display: none;
  }
  #table-toggle:checked ~ label .hide {
    display: block;
  }
  
  #table-toggle:checked ~ .table_pane {
    max-height: 2000px;
  }
  #table-toggle ~ .table_pane {
    transition-timing-function: cubic-bezier(.38,.52,.37,1.27);
  }
  
  .table_pane {
    max-height: 0px;
    overflow: hidden;
    transition: all .5s ease-in-out;
    margin-right: 0px;
  }
  .table_pane h1, .table_pane .dataTables_length {
    display: none;
  }
  .table_button {
    text-align: center;
  }
  /*div#header{ 
    height: calc(40vw / 4.1); 
    font-size: calc(48vw / 4.1); 
  }*/
}

@media (min-width: 800px) {
  /*div#header{
    height:70px;
    padding-top:10px;
  }*/
  div#navbar {
    padding-left:50px;
    width:calc(100% - 280px);
  }
  div#content{
    min-height:550px;
    padding: 10px 30px 15px 30px;
  }
}
