// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#products_table_wrapper {
  max-width: 500px;
}

#product_graph {
  border: 3px solid #27AD05;
  border-radius: 20px;
}

.co2_cell {
  width:45px;
  padding:0px 4px; 
  color: white; 
  text-align: right;
  display: block-inline; 
  border-radius: 5px;
}

.co2_chart {
  text-align: center; 
  //border: 1px solid #000;
  //padding-bottom: 10px;
}
.gauge {
  width: 280px;
  height: 170px;
}

#info_charts_box {
  text-align: center; 
  float: right;
  display: block;
  width: 280px;
}

.daily_budget_chart {
  margin-top:20px;
  margin-left:5px;
  margin-bottom:20px;
  margin-right:10px;
}
