// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#products_table_wrapper {
  max-width: 500px;
}

#product_graph {
  border: 3px solid #27AD05;
  border-radius: 20px;
}

.co2_cell {
  width:45px;
  padding:0px 4px; 
  color: white; 
  text-align: right;
  display: block-inline; 
  border-radius: 5px;
}

.co2_chart {
  text-align: center; 
  //border: 1px solid #000;
  //padding-bottom: 10px;
}
.gauge {
  width: 280px;
  height: 170px;
}

#info_charts_box {
  text-align: center; 
  float: right;
  display: block;
  width: 280px;
}

.daily_budget_chart {
  margin-top:20px;
  margin-left:5px;
  margin-bottom:20px;
  margin-right:10px;
}

.card {
  float:left;
  width: 500px;
  margin: 5px;
  border-radius: 10px;
  border: 1px #ccc solid;
  background-color: #fff;
}

.card.narrow {
  width: 300px;
}

.card.wide {
  width: 700px;
}

.card h3 {
  background-color: #4CAF50;
  border-radius: 10px 10px 0px 0px;
  padding: 8px 15px;
  margin: 0px;
  color: #fff;
  font-size: 1.2em;
}

.card div.card-title {
  margin: 15px;
  font-size: 16px;
  font-weight: bold;
}

.card div.card-text {
  margin: 15px;
  font-size: 16px;
}

.card div.card-graph {
  margin: 7px;
}

.card table {
  margin: 10px;
  font-weight: bold;
}
