// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#recipes_table_wrapper {
  max-width: 500px;
}

#ingredient_pie_chart {
  border: 3px solid #27AD05;
  border-radius: 20px;
}
