// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#recipes_table_wrapper {
  max-width: 380px;
}

#ingredient_pie_chart {
  border: 3px solid #27AD05;
  border-radius: 20px;
  width: calc(100% - 6px);
}

.pie_chart {
  width: calc(100% - 340px);
  min-width: 400px;
  float: left;
  display: block;
}

.tag {
  font-size: 16px;
  padding:5px 7px;
  margin-right: 4px;
  margin-bottom: 4px;
  color: white;
  display: block; 
  border-radius: 5px;
}

#content .tag a, #content .tag a:visited {   
  color: #fff;
  text-decoration: none;
}

#content .tag a:hover {
  color: #eee;
}

.instructions_pane {
  max-width: 600px;
}

.instructions_pane li {
  margin: 15px 0px;
}

@media (max-width: 410px) {
  .pie_chart {
    width: calc(100%);
    min-width: auto;
  }
}

.print {
  .pie_chart {
    width: auto;
  }
}
