<input type="checkbox" id="table-toggle">
<label for="table-toggle" class="no-print">
  <span class="toggle-words show">Show Products &#9660;</span>
  <span class="toggle-words hide">Hide Products &#9650;</span>
</label>
<div class="table_pane">
  <h1>Products</h1>

  <% if user_signed_in? && current_user.admin? %>
    <div class="table_button"><%= link_to 'Add Product', new_product_path, class: "green button" %></div>
  <% end %>

  <table id="products_table" style="width:100%">
    <thead>
      <tr>
        <th>Product</th>
        <th>CO2e / kg</th>
        <th>Studies</th>
      </tr>
    </thead>
  </table>
</div>

<div id="current_product" class="content_pane max_width_1024">
  <% if @product %>
  <%= render 'show' %>
  <% else %>
  <%= render 'greeter' %>
  <% end %>
</div>

<div style="clear:both;"></div> 
