<div class="table_pane">
  <h1>Products</h1>

  <% if user_signed_in? && current_user.admin? %>
    <%= link_to 'Add Product', new_product_path, class: "green button" %>
    <div class="space_16"></div>
  <% end %>

  <table id="products_table">
    <thead>
      <tr>
        <th>Product</th>
        <th>CO2e / kg</th>
        <th>Studies</th>
      </tr>
    </thead>
  </table>
</div>

<div id="current_product" class="content_pane">
  <% if @product %>
  <%= render 'show' %>
  <% else %>
  <%= render 'greeter' %>
  <% end %>
</div>

<div style="clear:both;"></div> 
